{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <h1>404 Error</h1>
    <p>Oh, the infamous 404. There's a page you were looking for, but as it turns out I either moved it, deleted it, or it never existed.</p>
    <p>As you may have found out, the no matter how many times you hit F5 or reload the page, it just won't work.</p>
    <p>If you really want to know what happened to the resource you're looking for (if anything happened to it), then contact us by creating a ticket on GitHub.</p>
  </div>
{% endblock %}